@import "~ant-design-vue/es/style/themes/default.less";
.ant-pro-global-header{
  display: flex;
  vertical-align: center;
  background-color: #001339;
  color: #fff;
  .ant-pro-global-header-trigger{
    padding: 0 22px;
  }
  
  .ant-pro-global-header-index-right{
    flex: 1;
    display: flex;
    justify-content: space-between;
    float: initial;
    margin-left: initial;
    .left-con{
      display: flex;
      align-items: center;
      .role-title{
        font-size: 18px;
        font-weight: bold;
      }
      .tag-style{
        margin: 0 0 0 6px;
      }
      .icon-style{
        font-size: 20px;
        cursor: pointer;
      }
    }
    .right-con{
      margin-right: 8px;
      .icon-style{
        font-size: 20px;
        margin-left: 16px;
        cursor: pointer;
      }
    }
    .feedback-style{
      cursor: pointer;
      margin-left: 20px;
    }
  }
}
  .ant-layout-sider-children{
    background-color: #031332 !important;
    padding: 0 10px;
  }
  /deep/.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
    background-color: initial !important;
  }
  .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 1px 15px 1px rgb(39 39 39 / 10%);
  }
  .ant-menu-dark .ant-menu-item-selected .anticon,.ant-menu-dark .ant-menu-item-selected .anticon + span,.ant-menu-dark .ant-menu-item-selected > a, .ant-menu-dark .ant-menu-item-selected > a:hover{
    color: #18ce0f;
  }
  .ant-menu-submenu-selected:hover{
    .ant-menu-submenu-title{
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 30px;
    }
  }
  .ant-menu-dark .ant-menu-item:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
  }
  .ant-menu-dark .ant-menu-item-selected:hover{
    background-color: #fff;
  }
  // .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    
  // }
  .ant-menu-dark .ant-menu-item-selected > a {
    color: #18ce0f;
    border-radius: 30px;
    box-shadow: 0 1px 15px 1px rgb(39 39 39 / 10%);
  }
  .ant-pro-basicLayout-children-content-wrap,.ant-pro-grid-content{
    height: 100%;
    
  }
  .ant-layout-footer{
    display: none;
  }

  .menu {
    .anticon {
      margin-right: 8px;
    }

    .ant-dropdown-menu-item {
      min-width: 100px;
    }
  }
// }

